/* Remove arrows from number input field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none; /* Standard property */
}

.cart-open {
  position: absolute;
  right: 0;
  top: 6vh;
  width: 200px;
  border: 1px solid black;
  border-top: none;
  z-index: 999;
  background: #e9f2ff;
  display: none;
  padding: 20px;
}

.show {
  display: block;
}

.item-cart-img {
  width: 150px;
}

.checkout-btn {
  display: block;
  margin-top: 40px;
  text-align: center;
  padding: 5px;
  background: #444b7a;
  color: white;
  border-radius: 9999px;
  text-decoration: none;
  width: 100%;
}

.cart-item {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.cart {
  position: relative;
}

#cart-noti {
  position: absolute;
  top: -8px;
  right: 5px;
  color: red;
  font-size: 1.4rem;
  display: none;
}

.show-cart-noti {
  display: block !important;
}

.choose-amount {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.minus,
.plus {
  margin: 0 5px;
}

.choose-amount a {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: lightgrey;
  display: grid;
  place-content: center;
}

.input-amount {
  width: 20px;
  text-align: center;
  border: none;
  background: #e9f2ff;
  text-align: center;
}

.input-amount:focus {
  outline: none;
}
