img {
  object-fit: cover;
  object-position: center;
}

.favorites {
  position: absolute;
  width: 80vw;
  min-height: 80vh;
  inset: 0;
  top: 10vh;
  left: 0;
  margin: 0 auto;
  border: 1px solid black;
  z-index: 99;
  background: rgb(218, 218, 218);
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  display: none;
  overflow-y: scroll;
}

.show-favorites {
  display: block;
}

.favorites-output {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.favorite-item {
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
  margin-bottom: 50px;
}

.close-favorites {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.4rem;
  color: red;
  cursor: pointer;
}

.empty-favorites-msg {
  position: absolute;
  inset: 0;
  top: 50vh;
  transform: translateY(-50%);
  text-align: center;
  font-size: 2rem;
  z-index: 999;
}
