/* ===== IMPORTS ===== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
/* ===== RESET START ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
  object-position: center;
}

/* ===== RESET END ===== */

/* CSS START */

body {
  background: #e9f2ff;
}

/* HEADER */

header {
  background: #444b7a;
  height: 6vh;
}

header .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

header * {
  color: gold;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.4rem;
}

/* HERO */

.hero {
  margin-top: 5vh;
}

.hero h1 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

.hero-text {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  color: #3c3787;
}

/* Products display */
.products {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-top: 5vh;
}

.product {
  max-width: 45%;
  padding: 10px 5px;
  position: relative;
  margin-bottom: 2vh;
}

.favorite {
  position: absolute;
  right: 20px;
  top: 20px;
}

.favorite:hover {
  color: gold;
}

.item-img {
  width: 100%;
}

.price {
  color: black;
  font-size: 0.9rem;
  margin: 10px 0;
}

.add-cart {
  padding: 5px;
  background: #d6f7ff;
  border-radius: 9999px;
  box-shadow: 3px 3px 5px rgba(129, 162, 168, 0.5);
  font-size: 0.8rem;
}

/* FOOTER */

footer {
  background: #444b7a;
  height: 20vh;
  position: relative;
  display: grid;
  place-content: center;
  width: 100%;
}

footer * {
  color: gold;
  font-family: "Source Sans 3", sans-serif;
}

footer p {
  font-size: 0.8rem;
}
footer i {
  margin-right: 5px;
}

footer img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.footer-container {
  position: absolute;
  inset: 0;
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.contact {
  width: 40%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: 10px;
}

.contact * {
  text-align: center;
}

.socials {
  width: 40%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  gap: 15px;
}
